/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc02               { /* Common */
	font            : 10pt 'Calibri';
	color           : #000000;
	}
.cc03               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc04               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc05               { /* Common */
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc06               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,405.75pt,1.50pt,0.00pt);
	}
.cc07               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,196.50pt,1.50pt,0.00pt);
	}
.cc08               { /* Common */
	clip            : rect(0.00pt,357.75pt,17.25pt,0.00pt);
	}
.cc09               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc10               { /* Common */
	font            : 10pt 'Calibri';
	color           : #ffffff;
	}
div#e53             {
	position        : absolute;
	left            :  53.25pt;
	top             : 231.00pt;
	width           : 636.00pt;
	height          : 234.00pt;
	}
span#e52            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001028.gif) no-repeat top left;
	position        : absolute;
	left            :  52.50pt;
	top             : 444.00pt;
	width           : 639.00pt;
	height          :  22.50pt;
	}
img#e51             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            :  52.50pt;
	top             :  45.00pt;
	width           : 236.25pt;
	height          :  39.00pt;
	}
div#e50             { /* NEWS UPDATES | COMING IN... */
	position        : absolute;
	left            :  54.75pt;
	top             : 467.25pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
div#e49             { /* WALESTKD Grading Success... */
	position        : absolute;
	left            : 210.75pt;
	top             : 609.75pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e48             { /* Another Amazing Years to... */
	position        : absolute;
	left            : 210.75pt;
	top             : 639.00pt;
	width           : 252.75pt;
	height          :  36.00pt;
	}
div#e47             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 677.25pt;
	width           : 242.25pt;
	height          :  12.75pt;
	}
span#e46            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001026.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 706.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e45             { /* EITF European Championsh... */
	position        : absolute;
	left            : 210.75pt;
	top             : 720.75pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e44             { /* April 2017 the UKTA will... */
	position        : absolute;
	left            : 210.75pt;
	top             : 750.00pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e43             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 788.25pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e42            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001025.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 817.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e41             { /* SILVERDRAGON TAEKWONDO S... */
	position        : absolute;
	left            : 210.75pt;
	top             : 833.25pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e40             { /* Congratulations to Silve... */
	position        : absolute;
	left            : 210.75pt;
	top             : 862.50pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e39             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 900.75pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e38            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001024.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 930.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e37             { /* BTF National Championshi... */
	position        : absolute;
	left            : 210.75pt;
	top             : 944.25pt;
	width           : 243.00pt;
	height          :  14.25pt;
	}
div#e36             { /* The British Taekwondo Fe... */
	position        : absolute;
	left            : 210.75pt;
	top             : 969.75pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e35             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             :1011.75pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e34            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001023.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             :1041.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e33             { /* SOCIAL MEDIA */
	position        : absolute;
	left            : 498.00pt;
	top             : 465.75pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
span#e32            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001022.gif) no-repeat top left;
	position        : absolute;
	left            : 498.75pt;
	top             : 539.25pt;
	width           : 196.50pt;
	height          :   1.50pt;
	}
span#e31            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001021.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 720.75pt;
	width           : 144.75pt;
	height          :  82.50pt;
	}
span#e30            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001020.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 945.75pt;
	width           : 145.50pt;
	height          :  80.25pt;
	}
div#e29             {
	position        : absolute;
	left            : 499.50pt;
	top             : 567.00pt;
	width           : 192.75pt;
	height          : 588.75pt;
	}
span#e28            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001019.gif) no-repeat top left;
	position        : absolute;
	left            : 497.25pt;
	top             :1131.75pt;
	width           : 205.50pt;
	height          :  26.25pt;
	}
span#e27            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001018.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 611.25pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e26            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001017.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 834.00pt;
	width           : 144.75pt;
	height          :  87.00pt;
	}
div#e25             { /* WALESTKD COLOUR BELT GRA... */
	position        : absolute;
	left            : 211.50pt;
	top             :1056.00pt;
	width           : 242.25pt;
	height          :  16.50pt;
	}
div#e24             { /* Congratulations to all t... */
	position        : absolute;
	left            : 211.50pt;
	top             :1081.50pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e23             { /* April 2017 | James Manni... */
	position        : absolute;
	left            : 211.50pt;
	top             :1123.50pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e22            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001016.gif) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             :1152.75pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
span#e21            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001015.jpg) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             :1055.25pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e20            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001014.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 192.00pt;
	height          :  30.75pt;
	}
span#e19            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001013.jpg) no-repeat top left;
	position        : absolute;
	left            : 317.25pt;
	top             :  54.75pt;
	width           : 357.75pt;
	height          :  17.25pt;
	}
img#e18             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 302.25pt;
	top             :  49.50pt;
	width           :  72.00pt;
	height          :  29.25pt;
	}
img#e17             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 395.25pt;
	top             :  49.50pt;
	width           :  72.00pt;
	height          :  29.25pt;
	}
img#e16             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 486.00pt;
	top             :  49.50pt;
	width           : 102.75pt;
	height          :  29.25pt;
	}
img#e15             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 600.75pt;
	top             :  49.50pt;
	width           :  84.75pt;
	height          :  29.25pt;
	}
img#e14             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 517.50pt;
	top             :   1.50pt;
	width           : 114.75pt;
	height          :  28.50pt;
	}
div#e13             { /* Team Ireland Ready for E... */
	position        : absolute;
	left            : 210.75pt;
	top             : 486.75pt;
	width           : 243.00pt;
	height          :  15.75pt;
	}
div#e12             { /* Best of luck to Team Ire... */
	position        : absolute;
	left            : 210.75pt;
	top             : 516.00pt;
	width           : 253.50pt;
	height          :  21.75pt;
	}
div#e11             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 554.25pt;
	width           : 242.25pt;
	height          :  12.75pt;
	}
span#e10            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001007.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 597.75pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
span#e9             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001006.jpg) no-repeat top left;
	position        : absolute;
	left            :  56.25pt;
	top             : 481.50pt;
	width           : 145.50pt;
	height          : 108.75pt;
	}
div#e8              {
	position        : absolute;
	left            : 499.50pt;
	top             : 484.50pt;
	width           : 159.75pt;
	height          :  37.50pt;
	}
div#e7              {
	position        : absolute;
	left            :  53.25pt;
	top             :1164.75pt;
	width           : 637.50pt;
	height          : 134.25pt;
	}
span#e6             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001005.gif) no-repeat top left;
	position        : absolute;
	left            :  50.25pt;
	top             :1278.75pt;
	width           : 660.00pt;
	height          :  22.50pt;
	}
span#e5             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001004.gif) no-repeat top left;
	position        : absolute;
	left            :  51.75pt;
	top             :1293.00pt;
	width           : 639.00pt;
	height          :  18.75pt;
	}
div#e4              { /* © 2017 fightlander.com &... */
	position        : absolute;
	left            :  54.75pt;
	top             :1295.25pt;
	width           : 630.00pt;
	height          :  13.50pt;
	}
span#e3             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001003.gif) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             :1152.75pt;
	width           : 196.50pt;
	height          :   1.50pt;
	}
img#e2              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            :  51.75pt;
	top             :  93.00pt;
	width           : 638.25pt;
	height          : 120.00pt;
	}
img#e1              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 645.75pt;
	top             :   3.00pt;
	width           :  96.75pt;
	height          :  25.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 750.00pt;
	height          :1312.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(fightlander_-_01.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
